body {
  color: #3e3e3f;
  font-family: "Open Sans", sans-serif;
  margin: 20px auto;
}

h1,
h3,
h5,
footer {
  text-align: center;
}

h1 {
  margin-bottom: 25px;
}

h3,
h5 {
  font-weight: 700;
}

input {
  display: inline;
}

footer {
  font-family: "Cutive Mono", monospace;
  font-size: 12px;
}

.container {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  border: 2px solid #0505af;
  border-radius: 15px;
  max-width: 400px;
  padding: 25px 20px;
}

.col-8 {
  padding-left: 55px;
}

.col-4 {
  padding-left: 0px;
}

.current-degrees {
  margin-top: 25px;
  margin-right: 76px;
  margin-bottom: 0;
  text-align: right;
}

.current-weather-image {
  display: block;
  margin: 0 auto;
}

.date-time,
.current-day-details {
  font-size: 14px;
  line-height: normal;
  padding-bottom: 30px;
  text-align: center;
}

.celsius-temp {
  font-size: 14px;
  float: right;
  margin-top: 5px;
}

.next-days-icon {
  display: block;
  height: auto;
  margin: 0 auto;
  padding-bottom: 5px;
  size: 20px;
  width: 70%;
}

.next-days {
  font-size: 14px;
  padding-bottom: 25px;
  text-align: center;
}

.max-temperature {
  font-weight: bold;
}
